# EDA

- Load in your csv.gz's of results for each year extracted.
- Concatenate the data into 1 dataframe for the remainder of the analysis.
- Once you have your data from the API, they would like you to perform some light EDA to show:
    - How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
    - Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.
    - How many movies are there in each of the certification categories (G/PG/PG-13/R)?
    - What is the average revenue per certification category?
    - What is the average budget per certification category?

In [27]:
import os
import pandas as pd
os.listdir("Data/")

['final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [38]:
df1 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df2 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [42]:
df1.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.330,1217.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.442,130.0,PG-13

In [43]:
df2.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.330,1217.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.442,130.0,PG-13

### Concatenate the data into 1 dataframe for the remainder of the analysis

In [45]:
df=pd.concat([df1,df2],
            ignore_index=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2696 entries, 0 to 2695
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2696 non-null   object
 1   adult                  2694 non-null   float64
 2   backdrop_path          1478 non-null   object
 3   belongs_to_collection  190 non-null    object
 4   budget                 2694 non-null   float64
 5   genres                 2694 non-null   object
 6   homepage               214 non-null    object
 7   id                     2694 non-null   float64
 8   original_language      2694 non-null   object
 9   original_title         2694 non-null   object
 10  overview               2648 non-null   object
 11  popularity             2694 non-null   float64
 12  poster_path            2442 non-null   object
 13  production_companies   2694 non-null   object
 14  production_countries   2694 non-null   object
 15  release_date           2668 non-null   object
 16  revenue                2694 non-null   float64
 17  runtime                2694 non-null   float64
 18  spoken_languages       2694 non-null   object
 19  status                 2694 non-null   object
 20  tagline                1120 non-null   object
 21  title                  2694 non-null   object
 22  video                  2694 non-null   float64
 23  vote_average           2694 non-null   float64
 24  vote_count             2694 non-null   float64
 25  certification          842 non-null    object
dtypes: float64(9), object(17)
memory usage: 547.8+ KB

In [52]:
df.nunique()/len(df)*100

imdb_id                  50.000000
adult                     0.074184
backdrop_path            27.410979
belongs_to_collection     3.338279
budget                    5.044510
genres                   13.167656
homepage                  3.968843
id                       49.962908
original_language         1.632047
original_title           49.851632
overview                 49.035608
popularity               33.197329
poster_path              45.289318
production_companies     31.157270
production_countries      7.307122
release_date             14.836795
revenue                   8.939169
runtime                   4.525223
spoken_languages          6.491098
status                    0.037092
tagline                  20.771513
title                    49.851632
video                     0.037092
vote_average             15.949555
vote_count               11.090504
certification             0.222552
dtype: float64

### How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [55]:
df['budget'].value_counts()

0.0            2100
3000000.0        20
15000000.0       18
5000000.0        16
35000000.0       16
               ...
7500000.0         2
102000000.0       2
150000.0          2
125000000.0       2
12500000.0        2
Name: budget, Length: 136, dtype: int64

In [56]:
df['revenue'].value_counts()

0.0           2214
3646994.0        2
9801375.0        2
4574762.0        2
84772742.0       2
              ...
18720175.0       2
2025238.0        2
19693891.0       2
645417.0         2
500000.0         2
Name: revenue, Length: 241, dtype: int64

### Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.

In [57]:
df=df.drop(df[df['budget']==0].index)
df=df.drop(df[df['revenue']==0].index)

In [59]:
df['budget'].value_counts()

35000000.0     16
25000000.0     12
15000000.0     12
22000000.0     10
30000000.0     10
               ..
37000000.0      2
1200000.0       2
107000000.0     2
65000000.0      2
500000.0        2
Name: budget, Length: 98, dtype: int64

In [60]:
df['revenue'].value_counts()

76019048.0     2
5271666.0      2
98376292.0     2
23000.0        2
24185781.0     2
              ..
209947037.0    2
65754228.0     2
39438674.0     2
71186502.0     2
500000.0       2
Name: revenue, Length: 192, dtype: int64

### How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [62]:
df['certification'].value_counts()

R        162
PG-13    124
PG        30
G         10
NR         4
Name: certification, dtype: int64

### What is the average revenue per certification category?

In [65]:
df.groupby('certification')['revenue'].mean()

certification
G        1.778149e+08
NR       2.680835e+07
PG       1.661720e+08
PG-13    1.092979e+08
R        5.183519e+07
Name: revenue, dtype: float64

### What is the average budget per certification category?

In [69]:
df.groupby('certification')['budget'].mean()

certification
G        4.240000e+07
NR       7.200000e+06
PG       4.973982e+07
PG-13    4.517576e+07
R        2.881709e+07
Name: budget, dtype: float64